<%provide :tilte, '注册'%>

<hr>

<div class="row-fluid">
	<div class="span6 well">
		<h3>
			注册
		</h3>

		<%if !flash.empty?%>
		<div class="alert">
			<%=flash[:error]%>
		</div>
		<%end%>

		<%=form_for @user, html: {class: 'form-horizontal'} do |f| %>
			<div class="control-group">
				<%= f.label :email, "电子邮件", class: 'control-label'%>
				<div class="controls">
					<%= f.text_field :email%>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :name, "昵称", class: 'control-label'%>
				<div class="controls">
					<%= f.text_field :name%>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :password, "密码", class: 'control-label'%>
				<div class="controls">
					<%= f.password_field :password%>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :password_confirmation, "密码确认", class: 'control-label'%>
				<div class="controls">
					<%= f.password_field :password_confirmation%>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "提交", class: 'btn btn-primary'%>
				</div>
			</div>
		<%end%>
	</div>

	<div class="span6 text-center muted">
		<div class="container-fluid" style="margin-top:50px">
			<span>
				<h5>
					已经有账户了？ <%= link_to "直接登录", signin_path, class: 'btn btn-success'%>
				</h5>
			</span>
		</div>
	</div>
</div>


