<%provide(:title, '登录')%>

<div class="alert">
	<%=flash[:message]%>
</div>

<%= form_for(:sign_in, url: sign_ins_path) do |f|%>
	
	<%= f.text_field :email,  placeholder: "电子邮件" %>
	<%= f.password_field :password, value: '', placeholder: '密码'%>

	<%= f.submit "提交", class: "btn btn-primary"%>
<%end%>