<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	body{
  		padding-top: 60px;
  		padding-bottom: 40px;
  	}
  </style>
</head>
<body>
<div class="navbar navbar-fixed-top" style="background-color: white">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "卡悠", home_path, class: "brand", style: "font-size: 32px; font-weight: bold; color:orange"%>
			<%if !session[:current_user_id] then%>
			<div>
				<ul class="nav pull-right">
					<li><%= link_to "登录", signin_path%></li>
					<li><%= link_to "注册", signup_path %></li>
				</ul>
			</div>
			<%else%>
			<div>
				<ul class="nav pull-right">
					<li>欢迎你：</li>
					<li><%=current_user.name%></li>
				</ul>
			</div>
			<%end%>
		</div>
	</div>
</div>
<div class="container">
	<%= yield %>

	<hr>
	
	<div class="container">
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span4">
				<p class="text-center">
					Company 2013
					<%= link_to "关于", about_path, class: "btn-link"%>
					<%= link_to "联系我们", contact_path, class: "btn-link"%>
				</p>
				<p>
					<%= debug(params) if Rails.env.development? %>
				</p>
			</div>
			<div class="span4"></div>
		</div>
	</div>
	
</div>
</body>
</html>
