<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	body{
  		padding-top: 10px;
  		padding-bottom: 40px;
  	}

  	/* Customize the navbar links to be fill the entire space of the .navbar */
	.navbar .navbar-inner {
		padding: 0;
	}
	.navbar .nav {
		margin: 0;
		display: table;
		width: 100%;
	}
	.navbar .nav li {
		display: table-cell;
		width: 1%;
		float: none;
	}
	.navbar .nav li a {
		font-weight: bold;
		text-align: center;
		border-left: 1px solid rgba(255,255,255,.75);
		border-right: 1px solid rgba(0,0,0,.1);
	}
	.navbar .nav li:first-child a {
		border-left: 0;
		border-radius: 3px 0 0 3px;
	}
	.navbar .nav li:last-child a {
		border-right: 0;
		border-radius: 0 3px 3px 0;
	}
  </style>
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<div class="masthead">
				<ul class="nav nav-pills pull-right">
					<%if session[:current_user] == nil then %>
						<li><%= link_to "登录", signin_path%></li>
						<li><%= link_to "注册", signup_path%></li>
					<%else%>
						<li><%= link_to "退出", signout_path%></li>
					<%end%>
				</ul>
				<h2>
					<%= link_to image_tag("logo.png", height: 60, width: 135), root_path %>
					<small class="text-success">
						卡悠－最贴心的信用卡优惠信息
					</small>
				</h2>

			</div>
		</div>
		
		<%= yield %>
		
		<hr>
		<footer class="row-fuild text-center">
			<p class="text-center">
				Company 2013
				<%= link_to "关于", about_path, class: "btn-link"%>
				<%= link_to "联系我们", contact_path, class: "btn-link"%>
			</p>
			<p>
				<%= debug(params) if Rails.env.development? %>
			</p>
		</footer>
	</div>
</body>
</html>
